ul  {
    padding: 0;
    list-style: none;
    margin: 0;
}

a   {
    text-decoration: none;
}

.slider {
    padding-top: 100px;
    display: flex;
    width: 800px;
    margin: auto;
}

.items    {
    display: flex;
    width: 210px;
    overflow-x: hidden;
    position: relative;
}

.item   {
    padding: 25px 30px;
    background-color: bisque;
    border: 1px solid black;
}

.arrow  {
    background-color: bisque;
    border: 1px solid black;
}